* {
  box-sizing: border-box;
}

#title {
  grid-column: third / fourth;
  grid-row: first / second;
  align-self: center;
  font-size: 3.5rem;
}

#game-container {
  display: grid;
  grid-template-columns: [first] 15vmax [second] 10vmax [third] auto [fourth] 10vmax [fifth] 15vmax [end];
  grid-template-rows: [first] 15vmax [second] auto [third] 15vmax [end];
  justify-items: center;
}

#gameboard {
  grid-column: third / fourth;
  grid-row: second / third;
  display: flex;
  flex-wrap: wrap;
  max-width: 40vmax;
  text-align: center;
  align-content: center;
  outline: 1rem solid var(--second-board-color);
  transition: 1.25s cubic-bezier(0.18, 1.52, 0.4, 0.87);
}

.tile {
  background: var(--main-board-color);
  border: 1px solid var(--main-bg-color);
  min-height: 5vmax;
  min-width: 5vmax;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.5s ease-in-out;
  z-index: 1;
  outline: none;
  z-index: 10;
  padding: 0 2px 2px 0;
}

.tile:hover {
  transition: 1s cubic-bezier(0.18, 1.52, 0.4, 0.87);
  opacity: 0.5;
}

/* .tile:nth-of-type(2n + 1) {
  background-color: goldenrod;
} */

.gamepiece-red {
  background: red;
  width: 4.25vmax;
  height: 4.25vmax;
  border-radius: 50px/50px;
  z-index: 100;
  box-shadow: 0.5px 0.5px 0 darkred, 1px 1px 0 darkred, 1.5px 1.5px 0 darkred,
    2px 2px 0 darkred, 2.5px 2.5px 0 darkred, 3px 3px 0 darkred;
}

.gamepiece-black {
  background: var(--main-bg-color);
  width: 4.25vmax;
  height: 4.25vmax;
  border-radius: 50px/50px;
  z-index: 100;
  box-shadow: 0.5px 0.5px 0 black, 1px 1px 0 black, 1.5px 1.5px 0 black,
    2px 2px 0 black, 2.5px 2.5px 0 black, 3px 3px 0 black;
}

.red {
  color: red;
}

.title-container {
  border-bottom: 1rem solid var(--main-font-color);
  margin: 5rem auto;
  max-width: 75vmin;
}

.button-container {
  margin-top: 5rem;
  height: 10vmax;
}

button {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  height: 10vmax;
  width: 35vmax;
  line-height: 3rem;
  text-align: center;
  padding: 0.4rem 1rem 0rem 1rem;
  color: #eee;
  background: #222;
  font-weight: bold;
  vertical-align: middle;
  border: 0;
  /* outline: 1rem solid var(--main-font-color); */
  transition: 0.5s ease-in-out;
}

#start-button:hover {
  transform: scale(1.15) translateY(2vmax);
  transition: 0.5s cubic-bezier(0.18, 1.52, 0.4, 0.87);
}

#start-button {
  background: green;
  z-index: 2000;
  transition: 0.25 ease-in-out;
}

#restart-button:hover {
  background: red;
  transition: 1s ease-in-out;
  max-height: 10vmax;
}

#restart-button {
  /* display: none; */
  transition: 1s ease-in-out;
}

#restart-button:focus {
  outline: none;
}

#insane-button:hover {
  background: red;
  transition: 1s ease-in-out;
  max-height: 10vmax;
}

#insane-button {
  /* display: none; */
  transition: 1s ease-in-out;
}

#insane-button:focus {
  outline: none;
}

.insane {
  color: red;
  transform: scale(1.25);
}
